@import '../styles/shared.scss';

// Page Main
.containerMain {
  padding: 30px 20px;
  margin: 0 auto;
  max-width: 910px;

  // Movies Page
  .moviesPageFormInput {
    padding: 10px;
    margin: 0 4px 25px 0;
    border: 2px solid $formInput;
    border-radius: 4px;

    &:focus {
      padding: 9px;
      border: 3px solid $formInput__focus;
      outline: none;
    }
  }

  .moviesPageFormBtn {
    padding: 12px 25px;
    color: white;
    background-color: $formBtn;
    border-radius: 4px;
    border: none;
    outline: none;
    cursor: pointer;

    &:hover {
      background-color: $formBtn__hover;
    }
  }

  // Muvie Details Page
  .goBackBtn {
    padding: 7px 13px;
    margin-bottom: 10px;
    color: white;
    font-size: 14px;
    background-color: $formBtn__hover;
    border-radius: 3px;
    border: none;
    outline: none;
    cursor: pointer;

    &:hover {
      background-color: $formBtn;
    }
  }

  // .moviesDetailsWrap {
  //   display: flex;
  //   padding-top: 10px;
  //   padding-bottom: 10px;
  //   border-top: 1px solid #ccc;

  //   img {
  //     width: 250px;
  //   }

  //   .moviesDetailsContent {
  //     padding: 20px;

  //     h2,
  //     h3,
  //     p {
  //       margin-bottom: 20px;
  //     }
  //   }
}

// Additional Info
.additionalInfoWrap {
  padding: 20px;
  margin-bottom: 10px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;

  h3 {
    margin-bottom: 20px;
  }

  li {
    margin-bottom: 7px;

    a {
      font-weight: 500;
      color: $link;

      &:hover {
        color: $link__hover;
      }
    }
  }
}
